<div class="sidebar-container">
    <div class="sidebar-logo">
        Time Manager
    </div>
    <ul class="sidebar-navigation">
        <li class="header">Menu</li>
        <li>
            <a (click)="navegarPara('/')">
                <i class="fa fa-home" aria-hidden="true"></i> Homepage
            </a>
        </li>
        <li>
            <a (click)="navegarPara('/usuario')">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Usuário
            </a>
        </li>
        <li>
            <a (click)="navegarPara('/ponto')">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Ponto
            </a>
        </li>
        <li>
            <a (click)="logout()">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Logout
            </a>
        </li>
    </ul>
</div>