<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Informe suas credenciais</h5>
                    <form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class=" form-label-group">
                            <label for="inputUsuario">Usuário</label>
                            <input type="text" formControlName="login" id="inputUsuario" class="form-control"
                                placeholder="Usuário" required autofocus>
                        </div>

                        <div class="form-label-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" formControlName="senha" id="inputPassword" class="form-control"
                                placeholder="Password" required>
                        </div>
                        <!--
                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        -->
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Entrar</button>
                        <hr class="my-4">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>