<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
        <div class="card my-5">
            <div class="card-body">
                <h5 class="card-title">Usuários</h5>
                <form class="" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-primary" (click)="irParaNovo()">Novo</button>
                        </div>
                        <br><br>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Horas</th>
                                <th scope="col">Login</th>
                                <th scope="col">Permissão</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of getUsuarios">
                                <th scope="row">{{ usuario.codigo }}</th>
                                <td>{{ usuario.nome }}</td>
                                <td>{{ usuario.horas | number}}</td>
                                <td>{{ usuario.login }}</td>
                                <td>{{ usuario.permissao }}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="tamanho" [(page)]="pagina" [pageSize]="quantidadePorPagina">
                        </ngb-pagination>
                    </div>

                    <hr class="my-4">

                </form>
            </div>
        </div>
    </div>
</div>